body{
    background-color: rgb(243, 93, 93);
}


.container {
width: 100vw;
height: 100vh;
background: rgb(243, 93, 93);
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
.box {
width: 600px;
height: 500px;
background-color: rgb(129, 129, 129);
text-align: center;
}
